@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*------Color variables---*/
    --amber_500: #ecbf0c;
    --black: #1010107f;
    --color_black_900: #101010;
    --color_black_900_01: #000c13;
    --green_a700: #22c13a;
    --red_a700: #df1414;
    --white_0: #ffffff;
    --white_1: #ffffffcc;
    --white_a700_19: #ffffff19;
    --white_a700_33: #ffffff33;
    --yellow_a400: #f3f300;

    /*------Border radius variables---*/
    --radius-xs: 4px;

    /*------Spacing variables------*/
    --space-xs: 2px;
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 12px;
    --space-xl: 18px;
    --space-2xl: 34px;
  }
}
input:where(:not([type])),

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],

textarea,
select {

  appearance: none;
  background-color: transparent;
  border-color: unset;
  border-width: 0;
  border-radius: unset;
  padding: unset;
  font-size: unset;
  line-height: unset;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="search"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: transparent;
  border-color: transparent;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
  --tw-ring-color: transparent;
}